button, .inputAction {
    margin-left: 10px;
}

.inputAction:hover {
    cursor: pointer;
}

#amountInput {
    width: 100px;
}

.form-row {
    margin-bottom: 5px;
}

body {
    background-image: url('./images/background2.jpg');
    margin: 20px;
    padding: 10px;
}

 h1 {
     text-align: center;
 }
